{% extends 'base.html.twig' %}

{% block title %}{{ 'New Category'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Add new Category'|trans }}</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}" class="btn btn-sm btn-outline-primary">{{ 'Back to list'|trans }}</a>
{% endblock %}
