{% extends 'base.html.twig' %}
{% import '/extra/macro/btn.html.twig' as btn %}

{% block title %}{{ 'Category'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Category'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}" class="btn btn-sm btn-outline-primary">{{ 'Back to list'|trans }}</a>
    {{ btn.btn_card(true, path('category_edit', {'id': category.id}), 'success', 'edit', 'Edit') }}
{% endblock %}
