{% import '/extra/macro/btn.html.twig' as btn %}
{% for album in albums %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="/raw.png" alt="{{ album.name }}">
            <div class="card-body">
                <h4 class="card-title">{{ album.name }}</h4>
                <p class="card-text">{{ album.description }}</p>
                <p class="card-text">Price : {{ album.price }}€</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        {{ btn.btn_card(true, path('album_show', {'id': album.id}), 'primary', 'view', 'View') }}
                        {{ btn.btn_card('ROLE_EDITOR_ALBUM', path('album_edit', {'id': album.id}), 'success', 'edit', 'Edit') }}
                        {{ btn.btn_card('ROLE_MANAGER_ALBUM', path('album_delete', {'id': album.id}), 'danger', 'delete', 'Delete') }}
                    </div>
                    <small class="text-muted">{{ album.category }}</small>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="col alert alert-danger" role="alert">
        {{ 'No records found'|trans }}
    </div>
{% endfor %}

{% if has_next_page %}
    <div class="col-12 text-center">
        <input type="button" data-page="{{ next_page }}" class="show-more btn btn-sm btn-outline-primary" value="{{ 'Show more'|trans }}"/>
    </div>
{% endif %}