{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <h1>Album</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ album.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'Price'|trans }}</th>
                    <td>{{ album.price }}€</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ album.description }}</td>
                </tr>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <td>{{ album.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'Category'|trans }}</th>
                    <td>{{ album.category }}</td>
                </tr>
                {% if album.image != "" %}
                    <tr>
                        <th>{{ 'Picture'|trans }}</th>
                        <td><img class="card-img-top" src="{{ asset('uploads/covers/' ~ album.image) }}" alt="{{ album.name }}"></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ path('album_index') }}" class="btn btn-sm btn-outline-primary">{{ 'Back to list'|trans }}</a>
{% endblock %}
