{% extends 'base.html.twig' %}

{% block title %}{{ 'User'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ 'User'|trans }}</h1>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>{{ 'Role'|trans }}</th>
                    {% for role in user.roles %}
                        <td>{{ role }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ path('user_index') }}" class="btn btn-sm btn-outline-primary">{{ 'Back to list'|trans }}</a>
{% endblock %}
